<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-livraison-heading" data-cy="LivraisonCreateUpdateHeading" jhiTranslate="coopcycleApp.livraison.home.createOrEditLabel">
        Créer ou éditer un Livraison
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.livraison.idLivraison" for="field_idLivraison">Id Livraison</label>
          <input
            type="number"
            class="form-control"
            name="idLivraison"
            id="field_idLivraison"
            data-cy="idLivraison"
            formControlName="idLivraison"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.livraison.contenu" for="field_contenu">Contenu</label>
          <input type="text" class="form-control" name="contenu" id="field_contenu" data-cy="contenu" formControlName="contenu" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.livraison.quantite" for="field_quantite">Quantite</label>
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.livraison.livreur" for="field_livreur">Livreur</label>
          <select
            class="form-control"
            id="field_livreur"
            data-cy="livreur"
            name="livreur"
            formControlName="livreur"
            [compareWith]="compareLivreur"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="livreurOption" *ngFor="let livreurOption of livreursSharedCollection">{{ livreurOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
