<div>
  <h2 id="page-heading" data-cy="LivraisonHeading">
    <span jhiTranslate="coopcycleApp.livraison.home.title">Livraisons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcycleApp.livraison.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-livraison"
        [routerLink]="['/livraison/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcycleApp.livraison.home.createLabel"> Créer un nouveau Livraison </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="livraisons?.length === 0">
    <span jhiTranslate="coopcycleApp.livraison.home.notFound">Aucun Livraison trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="livraisons && livraisons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idLivraison">
            <div class="d-flex">
              <span jhiTranslate="coopcycleApp.livraison.idLivraison">Id Livraison</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contenu">
            <div class="d-flex">
              <span jhiTranslate="coopcycleApp.livraison.contenu">Contenu</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quantite">
            <div class="d-flex">
              <span jhiTranslate="coopcycleApp.livraison.quantite">Quantite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="livreur.id">
            <div class="d-flex">
              <span jhiTranslate="coopcycleApp.livraison.livreur">Livreur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livraison of livraisons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/livraison', livraison.id, 'view']">{{ livraison.id }}</a>
          </td>
          <td>{{ livraison.idLivraison }}</td>
          <td>{{ livraison.contenu }}</td>
          <td>{{ livraison.quantite }}</td>
          <td>
            <div *ngIf="livraison.livreur">
              <a [routerLink]="['/livreur', livraison.livreur.id, 'view']">{{ livraison.livreur.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/livraison', livraison.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/livraison', livraison.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(livraison)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
